@page "/"

<PageTitle>Documentation - BigBrain Solutions</PageTitle>

<div class="row">
    <div class="col-md-7 col-lg-offset-1">
        <h1 class="display-1">Platform Documentation</h1>

        <p class="lead">Here you'll find handy documentation about our APIs and SDKs. Choose below, or scroll down to select by feature.</p>
        
        <DocsList />
        
    </div>
    
</div>