@page "/bbs_id"

<DisplayRoute Route="/bbs_id" />

<div class="">
    <div class="tab-content">
        <div class="tab-pane fade show active" id="list-home" href="bbs_id" role="tabpanel" aria-labelledby="list-home-list">
            <h3 class="text-center fw-bolder">BBS ID - OAuth 2.0</h3>
            
            <div class="message">
                <b>What is BBS ID?</b> It is a Identity Service based on <a class="text-decoration-none text-primary" href="https://oauth.net/2/">oAuth 2.0</a>.
            </div>
            
            <div>
                <div class="fs-3">Architecture</div>

                <div>
                    <img src="https://raw.githubusercontent.com/BigBrain-Solutions/graphs/main/bigbrain_solutions_web.png" alt="" />
                </div>
                
                <div class="m-4">
                    <a href="https://github.com/BigBrain-Solutions/BigBrainID">
                        <img src="https://img.icons8.com/external-those-icons-fill-those-icons/48/null/external-GitHub-social-media-those-icons-fill-those-icons.png" alt="GitHub Icon" class="gh-icon"/>
                        <span class="ml-1">Source code</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>