@code {
    [Parameter]
    public string Route { get; set; }
}

<div class="text-decoration-none d-flex flex-row w-100 route-main">
    <a href="/" class="d-block route p-2 text-decoration-underline text-dark">/</a>
    @foreach (var r in Route.Split('/'))
    {
        <a href="@r" class="d-block route p-2 text-decoration-underline text-dark">@r</a>
    }
</div>
