<div class="col-4">
  <div class="list-group" id="list-tab" role="tablist">
    <NavLink href="bbs_id">
      <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" role="tab" aria-controls="home">BBS ID</a>
    </NavLink>
  </div>
</div>